<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>json,cobertura</Format>
          <MergeWith>/result.json</MergeWith>
          <!-- <Exclude>[coverlet.*.tests?]*,[*]Coverlet.Core*</Exclude>  -->
          <!-- <Include>[coverlet.*]*,[*]Coverlet.Core*</Include>  -->
          <!-- <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute> -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>